# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
autom4te.cache/output.0
autom4te.cache/output.1
autom4te.cache/output.10
autom4te.cache/output.11
autom4te.cache/output.12
autom4te.cache/output.2
autom4te.cache/output.3
autom4te.cache/output.4
autom4te.cache/output.5
autom4te.cache/output.6
autom4te.cache/output.7
autom4te.cache/output.8
autom4te.cache/output.9
autom4te.cache/requests
autom4te.cache/traces.0
autom4te.cache/traces.1
autom4te.cache/traces.10
autom4te.cache/traces.11
autom4te.cache/traces.12
autom4te.cache/traces.2
autom4te.cache/traces.3
autom4te.cache/traces.4
autom4te.cache/traces.5
autom4te.cache/traces.6
autom4te.cache/traces.7
autom4te.cache/traces.8
autom4te.cache/traces.9
